Exploratary Data Analysis for solar Data discovery country Benin

* Timestamp (yyyy-mm-dd hh:mm): Date and time of each observation.
* GHI (W/m²): Global Horizontal Irradiance, the total solar radiation received per square meter on a horizontal surface.
* DNI (W/m²): Direct Normal Irradiance, the amount of solar radiation received per square meter on a surface perpendicular to the rays of the sun.
* DHI (W/m²): Diffuse Horizontal Irradiance, solar radiation received per square meter on a horizontal surface that does not arrive on a direct path from the sun.
* ModA (W/m²): Measurements from a module or sensor (A), similar to irradiance.
* ModB (W/m²): Measurements from a module or sensor (B), similar to irradiance.
* Tamb (°C): Ambient Temperature in degrees Celsius.
* RH (%): Relative Humidity as a percentage of moisture in the air.
* WS (m/s): Wind Speed in meters per second.
* WSgust (m/s): Maximum Wind Gust Speed in meters per second.
* Sstdev (m/s): Standard Deviation of Wind Speed, indicating variability.
* WD (°N (to east)): Wind Direction in degrees from north.
* WDstdev: Standard Deviation of Wind Direction, showing directional variability.
* BP (hPa): Barometric Pressure in hectopascals.
* Cleaning (1 or 0): Signifying whether cleaning (possibly of the modules or sensors) occurred.
* Precipitation (mm/min): Precipitation rate measured in millimeters per minute.
* TModA (°C): Temperature of Module A in degrees Celsius.
* TModB (°C): Temperature of Module B in degrees Celsius.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"E:\solar-challenge-week1\solar-challenge-week1\data\togo-dapaong_qc.csv")#load the dataset
df.head()#Show the first 5 rows

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-25 00:01,-1.3,0.0,0.0,0.0,0.0,24.8,94.5,0.9,1.1,0.4,227.6,1.1,977,0,0.0,24.7,24.4,NaN
1,2021-10-25 00:02,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.1,1.6,0.4,229.3,0.7,977,0,0.0,24.7,24.4,NaN
2,2021-10-25 00:03,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.2,1.4,0.3,228.5,2.9,977,0,0.0,24.7,24.4,NaN
3,2021-10-25 00:04,-1.2,0.0,0.0,0.0,0.0,24.8,94.3,1.2,1.6,0.3,229.1,4.6,977,0,0.0,24.7,24.4,NaN
4,2021-10-25 00:05,-1.2,0.0,0.0,0.0,0.0,24.8,94.0,1.3,1.6,0.4,227.5,1.6,977,0,0.0,24.7,24.4,NaN

In [4]:
df.shape

(525600, 19)